* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 34.38rem;
  height: 34.38rem;
  background-color: #282d35;
  z-index: 1;
}

.header {
  background-color: #21222a;
  width: 100%;
  height: 16.55%;
}

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.63rem;
  padding: 1.94rem 1.63rem;
  color: #61dafb;
}

.react-logo-nav {
  width: 1.82rem;
  height: 1.82rem;
}

.nav-title {
  font-size: 1.40rem;
  font-weight: 600;
}

.main {
  width: 100%;
  height: 83.45%;
  padding: 1.63rem 1.94rem;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  background-image: url('./images/react-logo-half.png');
  background-repeat: no-repeat;
  background-position: right 70%;
}

.main-title {
  font-size: 2.44rem;
  font-weight: 700;
  margin-top: 2rem;
}

.main-list {
  display: flex;
  flex-direction: column;
  gap: 0.63rem;
  font-size: 1.1rem;
  font-weight: 400;
  padding-left: 3rem;
  margin-top: 1.5rem;
}

.main-list li::marker {
  color: #61dafb;
  font-size: 1.8rem;
  line-height: 1rem;
}